 
@font-face {
    font-family: '나눔바른고딕';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('나눔바른고딕'),local('NanumBarunGothic'),local('나눔바른고딕OTF'),local('NanumBarunGothicOTF'),local('애플 SD 산돌고딕 Neo'),local('Apple SD Gothic Neo'),local('Noto Sans'),local('Noto+Sans'),local('notokr-demilight'),local('나눔고딕'),local('NanumGothic'),local('맑은 고딕'),local('Malgun Gothic');
    src: url('https://puripia.com/Font/nanumbarungothicregular.eot'); /*For IE6~8*/
    src: local(☺),
        url('https://puripia.com/Font/nanumbarungothicregular.eot?#iefix') format('embedded-opentype'), 
        url('https://puripia.com/font/nanumbarungothicregular.woff2') format('woff2'), 
        url('https://puripia.com/font/nanumbarungothicregular.woff') format('woff'), 
        url('https://puripia.com/font/nanumbarungothicregular.ttf') format('truetype'),
        url('https://puripia.com/Font/notokr-demilight.svg') format('svg');
}
 
  
  

body { 
  font-family: '애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','Helvetica Neue','Helvetica','나눔바른고딕','NanumBarunGothic','나눔바른고딕OTF','NanumBarunGothicOTF','Noto Sans','Noto+Sans','notokr-demilight','나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','sans-serif' !important;
  color: #3d3e3d;
  font-weight: 300;
  width: 100%;   
  line-height:1;
}

* {
  -webkit-overflow-scrolling: touch;
}

html, body {
    height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}
 

.filters .row,
.tags .row {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  position: relative;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
a,
i,
p,
span {
  font-size: 1.55rem;
}

i {
  font-size: 1.8rem;
}

a {
  color: #222;
}

a:hover {
  text-decoration: none; 
  color: #222;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

img {
    max-width:100%;
    height:auto;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-appearance: none;
}

input:focus {
  outline: none;
}

input:focus,
textarea:focus {
  border-color: rgba(68, 154, 255, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0.8rem rgba(68, 154, 255, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0.8rem rgba(68, 154, 255, 0.5);
  outline: 0 none;
}


.form-control {
    background-color: #f5fcff;
    font-family: 'Nanum Barun Gothic', sans-serif;
    padding:0 0 0 30px;
    height:44px;
    line-height:43px; 
    border:0; 
    font-size:1.333rem;
    letter-spacing: -.0625rem;
    font-weight: 700;
}
.form-control:focus {
    background-color: #f5fcff;
    color:#666;
}


.form-control2 {
    background-color: #d8f2fa;
    font-family: 'Nanum Barun Gothic', sans-serif;
    padding:0 0 0 20px;
    border:1px #79868a solid;
    height:44px;
    line-height:43px;  
    font-size:1.5rem;
    letter-spacing: -.0625rem; 
    width:290px;
}
.form-control:focus {
    background-color: #d8f2fa;
    color:#666;
}
 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#666;
    opacity: 1; 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#666;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:#666;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #7ad7f0 !important;
    text-align: center;
    color:#fff;
    font-size:1.333rem;
    border:0;
    width:100%;
    height:50px;
    line-height: 45px;
    font-weight: bold;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}


/****************************** CONTETNS **********************************/

.full-height {
    height: 100%;
}

 
.about { position: relative; top:210px; }
.location { padding-top:50px; }
 


.content-wrap { background-color: #fff;  margin:0 auto; }
.content-wrap2 { padding-bottom:130px; margin:0 auto; padding-top:30px; }


.main .container-fluid { width:100%; height:100%; position: relative; padding-left:0; padding-right:0; }
.member .container-fluid { max-width:1280px; }
.woman .container-fluid { max-width:1320px; height:100%; }
.about .container-fluid, .location .container-fluid { max-width:1170px; }


.navi { 
    height:90px; 
    width:100%;     
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 111;
}
.navi .logo { margin: -16px -20px; position: relative; }
.menubar {
    background-color: #7ad7f0;
    background: rgba(122, 215, 240, .5);
    margin: 0; 
    /*opacity: .5;*/
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.navbar-collapse { position: relative; max-width:770px; margin:0 auto 0; padding-top:40px;}
.navbar-nav>li {float:left;margin-right:80px;}  
.navbar-nav>li:last-child {margin-right:0;}
.navbar-nav>li>a {font-size:1.5rem;}
.navbar-nav li.current { font-weight: bold; font-size: 1.55rem;}
.menubar .navbar-nav { display:inline-block; }
.menubar.darkHeader {background: rgba(122, 215, 240, .95);}
 

.banner {  
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat; 
    margin: 0; 
    text-align: center;
    color: #fff;  
}
.position .container { text-align:center;font-weight: bold; font-size:3rem;color:#3d3e3d; padding:165px 0 100px; }
.membership .container { text-align:center; margin-bottom:-130px;padding: 175px 0 110px; } 
.counsel .container, .counsel_man .container { text-align:center; padding:196px 0 0; }
.counsel .container > img, .counsel_man .container > img { position:relative; top:20px; }


 


.position { 
    background-image: url("../images/img-top-visual-location.jpg");
    background-position: center 0; 
    background-repeat: no-repeat; 
} 
.membership { 
    background-image: url("../images/img-top-visual-membership.jpg");
    background-position: center 0; 
    background-repeat: no-repeat;
    /*height: 495px;  */
}
.counsel { 
    background-image: url("../images/img-top-visual-counsel.png");
    background-position: center 0; 
    background-repeat: no-repeat;
    background-color: #b7e9f7; 
}
.counsel_man { 
    background-image: url("../images/img-top-visual-counsel.png");
    background-position: center 0; 
    background-repeat: no-repeat;
    background-color: #b7e9f7; 
}
.main-visual { 
    background-image: url("../images/img-main-bg.jpg"); 
    background-position: center 0; 
    background-repeat: no-repeat;
    background-color: #b7e9f7; 
    background-size:cover; 
}


 


 
 

 
.location .head { margin-bottom: 25px;font-size:2.5rem; font-weight: 900; letter-spacing: -.0625rem;}
.location .sub-head { margin-bottom:30px; font-size:1.3rem; font-weight: 700; font-style: bold; letter-spacing: 0; line-height:1.8rem;}
.location .request .form-control { margin-bottom:25px; }
.location .request .btn { margin-top:15px; }

.contactus { margin-top:25px; }
.contactus .list { margin-bottom:40px; margin-left:25px; }
.contactus .list li { font-size:1.5rem; margin-bottom: 10px; font-weight: bold; padding-left:25px; min-height:25px; }
    .place { background: url('../images/ico-location.png') 0 0 no-repeat; width:100%;height:100%; padding-top:5px;}
    .subway { background: url('../images/ico-subway.png') 0 0 no-repeat; width:100%;height:100%;vertical-align: middle;padding-top:2px; }
    .car { background: url('../images/ico-car.png') 0 0 no-repeat; width:100%;height:100%;vertical-align: middle; }

.contactus .contact-point { margin-left:25px; }
.contactus .contact-point li { font-size:1.5rem; margin-bottom: 10px;font-weight: bold; }
.contactus .contact-point li.map { margin-top:25px; margin-bottom:30px; margin-left:-25px; }

.about .title { text-align:center; color:#92dff3; margin-bottom:115px; font-size:2.5rem; font-weight: bold;}
.about .text { font-size: 1.65rem; line-height: 3.8rem; color:#191919; }
.about .text>span { color:#92dff3; font-size:2.4rem;font-weight: bold; }


.member .col-lg-3 { text-align:center; } 
.member p { text-align:center;margin-top:30px; color:#555; font-size:1.35rem;line-height: 2.4rem; font-weight: bold;; }


.counseling .title { text-align:center; margin: 40px 0 100px; }
.counseling li { margin:0 0 55px; font-weight: bold; }
.counseling li .form-control2 { margin-top:15px; }
.counseling .custom-control { margin-top: 18px; }
.custom-radio .custom-control-label::before, .custom-control-label::after { width:1.5rem; height:1.5rem;top:0 !important; }
.custom-control-label { padding-left:12px; }
.counseling .btns { margin: 40px auto 70px;text-align:center; }
.counseling .btns .btn { max-width:20rem; font-size: 2.2rem; height:6.6rem; color:#1a1a1a; font-weight: normal; }



.woman {      
    background-image: url("../images/img-woman-bg.jpg"); 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat; 
    height:100%;
    width:100%; 
}
.woman .container-fluid {
    padding:0;
}

.woman .first {
    height:100%;
    width:100%;
    background-color: rgba(183, 233, 247, 0.5); 
    position: relative;
} 
.woman .img {
    display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center;
    margin: auto;
    position: absolute;
    top: 90px; left: 0; bottom: 0; right: 0;
}


.main .gate {
    /*display: flex; 
    align-items: center; 
    justify-content: center;  
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;*/
    text-align:center; 
    height:100%;
}
 

.online-chat {
    position:fixed;
    bottom:0;
    right:0;
    margin: 20px;
}
 




@media (min-width: 768px) {
    .navbar-header {
        display:none;
    }
}

.navbar-toggle {
    position: relative;
    float:right;
    right: 10px; 
    padding: 9px 10px; 
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top:4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px; 
}
 

@media (max-width: 992px) { 
    body.open-nav, .open-nav .navbar-collapse {
        left:0;
        margin-top:0;
    }
    .banner {
        background-attachment:unset; 
    }
    .navbar-collapse {
        position: fixed;
        left: -180px;
        width: 180px;
        top: 0;
        z-index: 1001;
        background: #000;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .navbar-toggle .icon-bar {
        background:#000;
    } 
    .navbar-header .logo {  
        top: 35px; 
        text-align:center;
    }
    .navbar-nav>li {
        float:none;
        display:block;
        padding:10px 10px 10px 25px; 
        margin:0;
    } 
    .navbar-nav>li:nth-child(3) {
        display: none;
    }
    .navbar-nav>li a {
        color:#fff;
        font-weight: normal;
    }
    .navbar-nav>li .logo {
        display:none;
    } 
    .body-overlay {
        background: rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;
    }
    .body-overlay.active {
        height:100%;
    }
     
}


@media (max-width: 575.98px) {  
    .container-fluid {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    } 
    .content-wrap, .content-wrap2 {
        padding-bottom: 50px;
    } 
    .location {
        padding-top:0;
    }
    .woman {        
        background-attachment: unset; 
        background-position: center top;
    }
    .woman .container-fluid {
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .woman.content-wrap {
        padding-bottom:0 !important;
    }
    .woman .img {
        margin:35px;
    }
} 


@media screen and (max-width: 767px) {
    .membership .container > img { 
        position: relative; top:-5px;
    }
}